<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.cenfotec.lab3.Cenfo_XamarinLab3_2018">
    <uses-sdk android:minSdkVersion="15" />
    <application android:label="Cenfo_XamarinLab3_2018">
    </application>
</manifest>
